:root {
  --primary: #9c27b0;
  --primary-dark: #89119d;
  --secondary: #ffce00;
  --secondary-dark: rgb(233, 287, 2);
  --white: #ffffff;
  --black: #000000;
  --main-font: "Staatliches", sans-serif;
}
